body {
    background-color: black;
}

.container {
    border: 2px solid rgb(204, 204, 248);
    border-radius: 10px;
}

.nav-bar {
    border: 3px solid rgb(83, 80, 80);
    background-color: rgb(53, 51, 51);
    display: flex;
    width: 80vw;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
    border-radius: 10px;
}

.logo {
    margin: auto 40px;
}

.logo span {
    color: rgb(219, 214, 211);
}

.nav-bar ul {
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    gap: 24px;
    padding-right: 40px;
}

.nav-bar ul li {
    padding: 12px;
}

.nav-bar ul li a {
    text-decoration: none;
    color: white;
    font-size: 24px;
    font-weight: 800px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.hero {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.herop {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2 {
    color: white;
}

.herop p {
    width: 50%;
    color: white;
}

.herop button {
    margin-left: -220px;
}

.herop button {
    width: 200px;
    font-size: 24px;
    background-color: rgb(57, 202, 28);
    color: white;
    /* margin-right: +230px; */
}

.image {
    width: 55%;
}

.image img {
    width: 320px;
    height: 320px;
    border: 10px solid green;
    border-radius: 50%;
    box-shadow: 5px 5px 10px blue;
}

.btn {
    display: flex;
    gap: 30px;
    margin: 40px 220px;
}

#btn1 {
    width: 170px;
    height: 60px;
    background-color: black;
    color: antiquewhite;
    border: 1px solid rgb(117, 116, 113);
    border-radius: 10px;
}

.animation {
    /* width: 600px;
    height: 50px; */
    background-color: chartreuse;
    border: 1px solid blue;
    border-radius: 10px;
    margin: 40px 0;
}

@keyframes animation {
    from {
        background-color: cornflowerblue;
        left: 0px;
    }

    to {
        background-color: green;
        left: 0px;
    }
}

.animation {
    animation-name: animation;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    position: relative;
    /* width: 600px;
    height: 50px; */
}
h3 {
    color: white;
    margin-left: 220px;
    position: absolute;
}